#waybar {
    font-family: "Fira Sans SemiBold", "Font Awesome 5 Free";
    font-size: 15px;
}

#window {
    padding: 0 10px;
}

window#waybar {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
    color: rgba(217, 216, 216, 1);
    background: rgba(0, 0, 0, 0.87);
}

window#waybar.solo {
    background: rgb(35, 31, 32);
    /* font-family: "Ubuntu Medium";
    font-size: 15px; */
}

window#waybar.empty {
    /* display: none; */
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0 8px;
   /* color: rgba(217, 216, 216, 0.4);
    border: 3px solid rgba(217, 216, 216, 0);
    border-radius: 10px; */
}

#workspaces button.visible {
   color: #E5E9F0;
   /* rgba(217, 216, 216, 1); */
}

/* #workspaces button.focused {
    border-top: 3px solid rgba(217, 216, 216, 1);
    border-bottom: 3px solid rgba(217, 216, 216, 1);
} */

#workspaces button.urgent {
    background-color: #EBCB8B;
    color: white;
}

#workspaces button:hover {
    box-shadow: inherit;
    border-color: #d1be8b;
    color: #888888;
}



/* Repeat style here to ensure properties are overwritten as there's no !important and button:hover above resets the colour */

#workspaces button.focused {
    color: #BF616A;
}

#pulseaudio {
    /* font-size: 26px; */
}

#custom-cpu_speed {
    min-width: 82px;
}

#custom-recorder {
	font-size: 18px;
	margin: 2px 7px 0px 7px;
	color:#c9545d;
}

#tray,
#mode,
#battery,
#temperature,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#language,
#backlight,
#custom-storage,
#custom-cpu_speed,
#custom-powermenu,
#custom-spotify,
#custom-weather,
#custom-mail,
#custom-media {
    margin: 0px 0px 0px 10px;
    padding: 0 5px;
    /* border-top: 3px solid rgba(217, 216, 216, 0.5); */
}

/* #clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
} */

#battery.warning {
    color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#battery.charging {
    color: rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color: rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color: rgba(238, 46, 36, 1);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
